@model ProjectsBaseShared.Models.Project
@{
    ViewBag.Title = @Model.ProjectName;
}

<h2 class="mb-20">@Model.ProjectName</h2>

<div class="row">
    <div class="row">
        <div class="col-md-6 col-xs-4 mb-10 text-right">
            @Html.LabelFor(p => p.ProjectName): 
        </div>
        <div class="col-md-6 col-xs-4 ">
            @Model.ProjectName
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-4 mb-10 text-right">
            @Html.LabelFor(p => p.ProjectStartDate):
        </div>
        <div class="col-md-6 col-xs-4">
            @Model.ProjectStartDate.ToShortDateString()
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-4 mb-10 text-right">
            @Html.LabelFor(p => p.ProjectEndDate):
        </div>
        <div class="col-md-6 col-xs-4">
            @Model.ProjectEndDate.ToShortDateString()
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-eac-main">Join</button>
    </div>
    <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-eac-secondary">Cancel</button>
    </div>
</div>

