<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Season planner</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="p-0">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand " href="@Url.Action("Index", "Home")">
            <img src="~/Images/EAC_logo_white.png" width="30" height="30" alt="EAC logo">
        </a>
        @Html.Partial("_Menu")
    </nav>

    @if (@ViewBag.Title == "Home Page")
    {
        <div class="container-fluid mb-3">
            <div class="row">
                <div class="col-12 p-0">
                    <img class="img-fluid" src="~/Images/main_page_image.jpeg" alt="building image"/>
                </div>
            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EAC LLP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Content/Site.css")
</body>
</html>
